@page
@model TorneoFutbol.App.Frontend.Pages.Municipios.IndexModel
@{
}
<h1>Listado de Municipios</h1>


<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Nombre</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var municipio in Model.municipio)
        {
            <tr>
                <td>@municipio.Nombre</td>
            </tr>
        }
    </tbody>
</table>
