<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Torneo de Futbol</title>
	<link rel="stylesheet" type="text/css" href="/css/Estilos.css">
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" />
	<link rel="stylesheet" href="~/bootstrap.bundle.min.js / bootstrap.bundle.js" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
		integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

</head>

<body>
	<header id="header">
		<nav>
			<div class="container">
				<a id="titulo" class="logo" asp-area="" asp-page="/Index">Torneo de Futbol</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
					aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
					<ul class="navbar-nav flex-grow-1">
						<li class="nav-item">
							<a id="home" class="activo" asp-area="" asp-page="/Index">Home</a>
						</li>
						<li class="nav-item">
							<a id="privacy" class="" asp-area="" asp-page="/Privacy">Privacy</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<div class="dropdown">
			<button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton"
				data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				☰
			</button>
			<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				<a class="dropdown-item" id="contmenumunicipios" asp-area="" asp-page="/Municipios/Index">Municipios</a>
				<a class="dropdown-item" id="contmenujugadores" asp-area="" asp-page="/Jugadores/Index">Jugadores</a>
				<a class="dropdown-item" id="contmenuarbitros" asp-area="" asp-page="/Arbitros/Index">Arbitros</a>
				<a class="dropdown-item" id="contmenudirtecnicos" asp-area="" asp-page="/DirectoresTecnicos/Index">DirectoresTecnicos</a>
				<a class="dropdown-item" id="contmenuequipos" asp-area="" asp-page="/Equipos/Index">Equipos</a>
				<a class="dropdown-item" id="contmenuestadios" asp-area="" asp-page="/Estadios/Index">Estadios</a>
				<a class="dropdown-item" id="contmenupartidos" asp-area="" asp-page="/Partidos/Index">Partidos</a>
			</div>
		</div>

		

	</header>

	<div id="escrito" class="sec">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted">
		<div class="container">
			&copy; 2021 - TorneoFutbol.App.Frontend

		</div>

	</footer>

	<script>
		src = "~/js/codigo.js"
	</script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
		crossorigin="anonymous"></script>

</body>

</html>